extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPolling/_sPolling.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= 'polling.jpg'

block title
	- let  title= "Тестирование"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container.px-0
			+stepsRow(
					{class: "past", name: "Подача заявки",date: "21 нояб"},
					{class: "past", name: "Анкетирование",date: "с 30 нояб по 2 дек"},
					{class: "current", name: "Тестирование",date: "с 2 дек по 10 дек"},
					{class: "next", name: "Вы зачислены",date: "23 дек"}
				)
		+sPolling
			+b.form-wrap
				e.head.text-center
					h2 Тестирование
				.h6.fw-400.text-center Мы рады сообщить, что Вы прошли этап анкетирования. Приглашаем Вас на следующий этап — #[a(href="#") онлайн-тестирование].
	+parts('footer')
      



