 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.steps {
	position: relative;
	
	&::before{
		content: '';
		height: 100%;
		position: absolute;
		width: 200vw;
		z-index: -1;
		background-color: $primary;
		@include media-breakpoint-up(lg) {
			right: 99%;
			background-color: $cyan;
		}
		right: -50vw;
		}
	&__dd-header {
		display: flex;
		align-items: center;
		padding: rem(16);
		cursor: pointer;
		background-color: $primary;
		color: $white;
	}
	&__dd-name {
		font-size: rem(18);
		line-height: 114%;
		flex-grow: 1;
		margin-right: rem(15);
		span {
			display: block;
			font-size: rem(14);
		}
	}
	&__dd-counter {
		margin-right: rem(16);
		span {
			color: rgba($white, .6);
		}
	}
	&__list {
		position: absolute;
		left: 0;
		top: auto;
		width: 100%;
		counter-reset: items;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style-type: none;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		background-color: $white;
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
		@include media-breakpoint-up(lg) {
			position: static;  
			flex-direction: row;
			box-shadow: none;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			height: 100%;
		}
	}
	&__item {
		position: relative;
		padding-left: rem(77);
		flex: 1 0 0%;
		max-width: 100%; 
		width: 100%;  
		// flex-basis: calc(100% / 6);
		flex-grow: 1;
		counter-increment: items;
		--bg-color: #{$primary};
		--color:	#{$white};
		&::before {
			position: absolute;
			content: counter(items);
			display: flex;
			align-items: center;
			justify-content: center;
			left: rem(24);
			top: 50%;
			width: rem(32);
			height: rem(32);
			border-radius: 50%;
			transform: translateY(-50%);
			background-color: var(--bg-color);
			font-size: rem(17);
			font-weight: 700;
			color: var(--color);
		}
		&:not(:first-child)::after {
			position: absolute;
			content: '';
			left: rem(39);
			top: rem(-8);
			width: 1px;
			height: rem(16);
			background-color: var(--bg-color);
			@include media-breakpoint-up(lg) {
				content: none;
			}
		}
		@include media-breakpoint-up(lg) {
			padding-left: 0;
			background-color: var(--bg-color);
			text-align: center;
			&::before {
				content: none;
			}
		}
		&--past {
			--bg-color: #00ABBE;
			--color:	#{$body-color};
			&:hover {
				--color:	#{$white};
			}
		}
		&--next {
			--bg-color: #C9CAD1;
			--color:	#{$gray-800};
			pointer-events: none;
			@include media-breakpoint-up(lg) {
				--color:	#{$gray-600};
				--bg-color: #{$gray-200};
			}
		}
		&--current {
			pointer-events: none;
			.steps__item-name {
				@include media-breakpoint-down(lg) {
					color: $black;
				}
			}
		}
		@include media-breakpoint-up(lg) {
			&:last-child{
				position: relative;
				&::before{
					content: '';
					left: 99%;
					border-radius: 0;
					width: 100vw;
					height: 100%;
					background-color: inherit;
					position: absolute;
					
				}
				&.steps__item--current{
					&::before{
						background-color: $cyan;
					}
				}
			}
		}
	}
	&__item-name {
		display: block;
		padding-block: rem(12);
		font-size: rem(18);
		line-height: 114%;
		color: $gray-800;
		@include media-breakpoint-up(lg) {
			height: 100%;
			// display: block;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(12);
			color: var(--color);
		}
		span {
			display: block;
			font-size: rem(14);
		}
	}
}